.cols{
    padding: 0;
}

.card{
    padding: 5px;
}

h5{
    display: inline-block;
    margin-right: 10px;
}

button{
    margin-right: 20px;
}

.card{
    max-width: 250px;
}

.controlPanel{
    overflow:auto;
}