<!--(window:resize)="onResize($event)"-->
<div class="conatiner-fluid">
  <div class="row">
    <div
      (window:resize)="onResize($event)"
      id="3d-graph"
      class="col-10 cols graph"
    ></div>

    <div class="contrlPanel" class="col-2 cols">
      <!------------------------------------------------------------------------>

      <div class="row">
        <div class="col-3">
          <label><h5>NODES</h5></label>
        </div>
        <div class="col-1">
          <input
            list="names"
            [(ngModel)]="nodeSearchName"
            type="text"
            class="form-control-sm inp"
          />
          <datalist id="names">
            <option *ngFor="let node of nodeTypes" [value]="node">{{
              node
            }}</option>
          </datalist>
        </div>
      </div>
      <button class="btn-sm btn-primary" (click)="searchNode()">Search</button>
      <br />
      <br />
      <!------------------------------------------------------------------------>
      <div id="edge-selector">
        <h5>EDGES</h5>
        <div *ngFor="let edge of edgeTypes">
          <input
            checked
            class=""
            type="checkbox"
            [name]="edge"
            [value]="edge"
            (change)="edgeSelectionUpdate($event)"
          />
          <label [for]="edge" class="edge_labels"> {{ edge }}</label>
        </div>
      </div>

      <div id="node-info" class="card" *ngIf="nodeDataVis!; isDispEdit">
        <div class="card-header">
          <h5>{{ dispNodeLabel | titlecase }}</h5>
        </div>
        <div class="card-body">
          <div *ngFor="let prop of dispNodeProps">
            <h6>{{ prop.key | uppercase }}</h6>
            <div *ngIf="!isDispEdit">{{ prop.value }}</div>
            <div *ngIf="isDispEdit"> 
              <input type="text" [ngClass]="prop.key" class="form-control" >
            </div>
             
          </div>
        </div>
        <div class="card-footer">
          <div *ngIf="!isDispEdit">
            <button (click)="editNode()" class="btn-sm btn-info">Edit</button>
            <button (click)="deleteNode()" class="btn-sm btn-danger">
              Delete
            </button>
          </div>
          <div *ngIf="isDispEdit">
            <button (click)="saveNodeEdit()" class="btn-sm btn-success">Save</button>
            <button (click)="discardNodeEdit()" class="btn-sm btn-secondary">Discard</button>
          </div>
        </div>
      </div>

      <!----------------------------------------------------------------------------------------->
    </div>
  </div>
</div>

<!--
 
-->
